@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


body,
input,
textarea,
button,
select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    height: auto;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


header nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: lightgray;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

footer {
    background-color: lightgray;
    padding: 19px 0px 19px 0px;
    width: 100%;
    height: 25px;

}

header nav>div {
    display: grid;
    align-items: center;
    justify-self: end;
}

header nav ul {
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    padding: 0 0 0 1em;
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(100px, max-content));
    align-items: center;
    column-gap: 5px;

}


header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}


a.urgent {
    color: rgb(248, 90, 90);
    font-weight: 700;
    margin-right: 32px;
}

a.urgent:link {
    color: rgb(248, 90, 90);
    font-weight: 700;
    margin-right: 32px;
}

a.urgent:visited {
    color: rgb(248, 90, 90);
    font-weight: 700;
    margin-right: 32px;
}



header nav ul li a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #d6e4e9;
}

nav a:hover::before {
    width: 100%;

}

input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

select {
    height: 2.5em;
}

textarea {
    margin: 0;
    padding: .25em .5em;
}

table {
    width: 100%;
}

.helptext {
    display: block;
    font-size: 80%;
}

.login-form,
.signup-form {
    background-color: lightgray;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 2em;
}

.task-form,
.project-form {
    background-color: lightgray;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 600px;
    padding: 2em;
}

.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
    margin-top: 0;
    color: black;
}

/* .project-detail h2 {
    margin-top: 2em;
} */

.task-form p,
.login-form p,
.signup-form p,
.project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
    color: black;
    opacity: .7;
}

.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
    grid-column-start: 2;
    grid-column-end: 3;
}

.task-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
    padding: 0.25em 1em;
}


.my-tasks-list,
.project-detail {

    border-radius: 4px;
    margin: auto;
    max-width: 800px;
    padding: 2em;
    text-align: center;
}

.project-detail h2,
.my-tasks-list h1 {
    color: black;
    opacity: .7;
}


.project-list {
    display: grid;
    align-items: center;
    grid-template-columns: 400px 1fr;
    text-align: center;
    column-gap: 40px;
    margin: auto;
    align-items: self-start;

}

.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
    padding: .5em;
}

.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
    border-bottom: 2px solid #DEDEDE;
}

.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
    text-align: center;
}

.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
    border-bottom: 1px solid #DEDEDE;
}

.container {
    max-width: 800px;
    min-height: 411px;
    margin: 0 auto;
    margin: 20px 0;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
}

.project-list-card {
    min-height: 180px;
    min-width: 180px;
    margin: 0 auto;
    margin: 20px 0;
    background-color: #595f9f;
    border: 1px solid lightgray;
    border-radius: 10px;

}

.project-list-column {
    text-align: left;
    border: 1px solid lightgray;
    background-color: lightgray;
    margin: 20px;
    min-height: 411px;
    padding: 10px;
    display: grid;
    align-items: center;
    row-gap: 1px;

}

.project-list-items-row {
    display: grid;
    grid-template-columns: 1fr 20px;
}



.chart-row {
    display: grid;
    grid-template-columns: 150px repeat(12, 1fr);
    grid-auto-flow: column;
    gap: 4px;
    padding: 12px 0;
    height: 20px;
}

.chart-row:last-child:not(.chart-heading) {
    border-bottom: 1px solid lightgray;
    border-radius: 0 0 10px 10px;
}

.chart-row>div:first-child {
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chart-row:nth-child(odd):not(:first-child) {
    background-color: #f5f5f57d;
}

.chart-row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.527);
}



.chart-heading {
    background-color: whitesmoke;
    color: black;
    font-size: 14px;
    height: 50px;
    align-items: center;
    justify-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    ;
}

/* .chart-row>div:nth-child(2) {
    border-radius: 20px;
} */

.project-detail table,
.my-tasks-list table,
.project-list table {
    border: lightgrey solid 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.527);
}

.project-detail .gantt-chart-content {
    border: lightgrey solid 1px;
    border-radius: 10px;
}


.container>h2 {
    text-align: center;
}

.project-detail>h2 {
    text-align: center;
}

.greenbar {
    background-color: #2ecaac;
    height: 20px;
}

.yellowbar {
    background-color: #f0df23;
    height: 20px;

}

.redbar {
    background-color: #eb6a60;
    height: 20px;
}

.roundleft {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px
}

.roundright {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.edit-icon {
    height: 24px;
}

.project-icon {
    height: 100px;
    width: 100px;
}

.project-list-title,
.project-detail-title {
    text-align: center;
    color: black;
}

.project-list-title a,
.project-detail-title a {
    color: black;
}


a.create-link {
    color: black;
    font-weight: 700;
    margin-right: 32px;
    text-decoration: none;
}

a.create-link:link {
    color: black;
    font-weight: 700;
    margin-right: 32px;
    text-decoration: none;
}

a.create-link:visited {
    color: black;
    font-weight: 700;
    margin-right: 32px;
    text-decoration: none;
}

.collapse {
    color: black;
    cursor: pointer;
}

input.showhide[type="radio"]:not(:checked) + div.container,
input.showhide[type="radio"] {
    display: none;
}

input.showhide[type="radio"]:checked+div.container {
    display: block;
}
