{% extends 'base.html' %}

{% block title %}
    Signup
{% endblock title %}
{% block content %}
    <main>
        <div class="signup-form">
            <h1>Signup</h1>
            <form method ="post">
                {% csrf_token %}
                {{ signupform.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
