{% load static %}
{% load task_action %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>

<body>

    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
            {% getMostUrgentTaskForUser user as mostUrgentDisplayObj %}
                <li>
                    <a href="{% url 'show_my_tasks' %}">My tasks</a>
                </li>
                <li>
                    <a href="{% url 'list_projects' %}">My projects</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            <div>

                {% if mostUrgentDisplayObj is None %}
                    No urgent tasks
                {% else %}

                    <a href="{% url 'show_project' mostUrgentDisplayObj.projectId %}" class="urgent">MOST URGENT TASK:
                        {{ mostUrgentDisplayObj.taskName }}</a>
                {% endif %}
            </div>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
            </ul>
            {% endif %}

        </nav>
    </header>
    {% block content %}
    {% endblock content %}

    <footer>
        Footer
    </footer>

</body>

</html>
