{% extends 'base.html' %}

{% block title %}
    Edit
{% endblock title %}
{% block content %}
    <main>
        <div class="task-form">
            <h1>Edit your task</h1>
            <form method ="post">
                {% csrf_token %}
                {{ task_edit_form.as_p }}
                <button>Save Edit</button>
            </form>
        </div>
    </main>
{% endblock content %}
