{% extends 'base.html' %}
{% load task_action %}

{% block title %}
My Projects
{% endblock title %}
{% block content %}
<main>
    <div class="project-list-title">
        <h1>My Projects</h1>
        <p class="create-link-list">
            <a href="{% url 'create_project' %}" class="create-link"><img class="edit-icon"
                    src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699019-icon-32-clipboard-edit-1024.png">Create
                a new project</a>
        </p>
    </div>
    <div class="project-list">
        {% if projects|length == 0 %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <div class="project-list-column">
            {% for project in projects %}
            <div class="project-list-items-row">
            <div class="project-list-item">
                <label class="collapse" for="_{{ project.id }}"><a href="{% url 'show_project' project.id %}">{{ project.name }}</a> Number of tasks:
                    {{project.tasks.all|length }}</label>
            </div>
            <div class="project-list-item"> <label for="_{{ project.id }}"> > </label></div>
            </div>
            {% endfor %}
        </div>
        <div class="gantt-column">
            {% for project in projects %}
            <input class="showhide" type="radio" id="_{{ project.id }}" name="showhide"  {{ forloop.first|yesno:'checked, ""'}}>
            <div class="container">
                {% check_task_year_list_view project.tasks.all %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>
{% endblock content %}
