{% extends 'base.html' %}
{% load task_action %}

{% block title %}
Project Detail
{% endblock title %}
{% block content %}
<main>
    <div class="project-detail-title">
        <h1>{{ project_object.name }}</h1>
        <p>{{ project_object.description }}</p>
        <h2></h2>
    </div>
    <div class="project-detail">
        {% if project_object.tasks.all|length != 0 %}
        <div class="container">
            {% check_task_year_list_view project_object.tasks.all %}
        </div>
        <div class="container">
            <h2>All Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}" class="create-link"><img class="edit-icon"
                        src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699019-icon-32-clipboard-edit-1024.png">
                    Create a new task</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project_object.tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}


<!-- <div style="grid-column: 4/11; background-color: #aad1c9;"></div> -->
<!-- Task name, start date, due date-->
