<h2>This Year's Tasks</h2>
<p>
    <a href="{% url 'create_task' %}" class="create-link"><img class="edit-icon"
            src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699019-icon-32-clipboard-edit-1024.png"> Create a new
        task</a>
</p>
<div class="gantt-chart-content">
    <div class="chart-row chart-heading">
        <div>
        </div>
        <div>Jan</div>
        <div>Feb</div>
        <div>Mar</div>
        <div>Apr</div>
        <div>May</div>
        <div>Jun</div>
        <div>Jul</div>
        <div>Aug</div>
        <div>Sep</div>
        <div>Oct</div>
        <div>Nov</div>
        <div>Dec</div>
    </div>


    {% for key, value in this_yr_task_info.items %}

    <div class="chart-row">
        <div>
            {{ key }}
        </div>
        <div class="{{ value.color }} {{ value.edges }}"
            style="grid-column:{{ value.numbers.chart_month_start }}/{{ value.numbers.chart_month_end }};">
        </div>
    </div>
    {% endfor %}
</div>
